$darkBg: #101825;
$black: #282828;

$brown: #934834;
$brownDark: #702f1e;
$purpleHeart: #543CCB;
$violet: #74475e;
$violetDark: #583145;
$grandis: #FFD074;
$grey: #9096bb;
$gray: #1F2433;
$blueViolet: #492c9f;
$blue: #0b7696;
$blackBg: #000000;
$green: #337b4b;
$greenDark: #135d30;
$orange: #ffa700;
$darkOrange: #e24731;
$pink: #bc05f1;
$yellow: #e9b73f;
$yellowDark: #d09f3a;
$softViolet: #9968fe;
$simpleViolet: #394488;
$someViolet: #be03f2;
$lightBlue: #507fbf;
$white: #fff;







$darkBg: #14141e;
$black: #000000;

$brown: #934834;
$brownDark: #702f1e;

$violet: #74475e;
$violetDark: #583145;
$violetDarkness: #482838;

$grey: #9096bb;
$greyProgress: #160c48;

$blueDark: #101825;
$darkBg: #1f2433;

$green: #337b4b;
$greenDark: #135d30;

$yellow: #e9b73f;
$yellowBright: #f9d02e;
$yellowDark: #d09f3a;
$yellowLight: #ffe8a8;
$yellowVivid: #f7c824;

$orange: #ffa700;

$white: #fff;

$purple: #472B9C;
$hotPurple: #492d4d;
$cyanPurple: #492c9f;
$darkPurple: #bb05f0;


$softViolet: #9968fe;
$darkViolet: #5431b2;
$blueViolet: #492c9f;

$lightRed: #ff4359;

$magenta: #fdb0fd;

$veryDark: #151321;
$blue: #507fbf;
$red: #e24731;
