<footer class="footer js-footer-anchor">
    <div class="footer-wrap">
        <div class="footer__links">
            <a href="{{ path('homepage:contact') }}" class="footer__link">Contact us</a>
            <a href="{{ path('homepage:privacy') }}" class="footer__link">Privacy Policy</a>
        </div>
        <div class="footer__info">&copy; 2015-{{ "now" | date('Y') }} EverydayHoroscopes.com</div>
    </div>
</footer>